@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap");

.typing {
  border-right: 5px solid black;
  display: block;
  width: max-content;
  padding: 0 0.1em 0 0;
  line-height: 180px;
  font-family: "Roboto Mono", monospace;
  font-size: 200px;
  overflow: hidden;
  color: #2e069c;

  animation-name: typeAnimation, blinkingCursor;
  animation-duration: 1.6s, 1s;
  animation-iteration-count: 1, infinite;
  animation-timing-function: steps(40, end), linear;
}

.projectText {
  font-size: 40px;
  line-height: 100px;
  animation: fadeIn 2s linear;
}

.githubLinkButton {
  width: 150px;
  animation: moveUp 1s linear;
}

.demoLinkButton {
  width: 150px;
  animation-delay: 30s;
  animation: moveUp 2s linear;
}

.movingCircle {
  position: absolute;
  backdrop-filter: blur(1px);
  border-radius: 100%;
  padding: 1em;

  background-image: linear-gradient(
    to right bottom,
    #9305b2,
    #a560cf,
    #bb98e6,
    #d9ccf5,
    #ffffff
  );
  animation: moveRound 5s linear infinite;
}

@keyframes moveRound {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes moveUp {
  from {
    transform: translate(0px, 30px);
  }
  to {
    transform: translate(0px, 0px);
  }
}

@keyframes typeAnimation {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes blinkingCursor {
  0% {
    border-right: 5px solid white;
  }
  100% {
    border-right: 5px solid black;
  }
}

/* .squeares {
  position: absolute;
  top: -50px;
  width: auto;
  height: 100px;
  overflow: hidden;
  animation-name: slide;
  animation-duration: 10s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

@keyframes slide {
  0% {
    transform: translate(0);
    transform: rotate(0deg);
  }
  50% {
    transform: translate(100px, 0px);
    transform: rotate(5deg);
  }
  100% {
    transform: translate(100px, 0px);
  }
} */
