.lineContainer {
  background-color: rgb(212, 212, 212);
  padding: 1px;
  overflow-x: hidden;
}

.line {
  border: 1px solid #fff;
  border-radius: 10px;
  width: 200%;
  animation: move-right-left 20s linear 2s infinite;
}

@keyframes move-right-left {
  0% {
    width: 0%;
  }
  50% {
    width: 50%;
  }
  100% {
    width: 0%;
  }
}
